{% extends "base.html" %}

{% block title %}Login - CarSales{% endblock %}

{% block content %}


<div class="register-container">
    <h2>Enter your Account</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ login_form.username.errors }}
            <label>Username</label>
            {{ login_form.username }}
        </div>

        <div class="form-group">
            {{ login_form.password1.errors }}
            <label>Password</label>
            {{ login_form.password }}
        </div>


        <button type="submit" class="register-btn">Login</button>
    </form>
</div>

{% endblock %}
